html, body
    padding: 0
    margin: 0
    background-color: #161826
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    overflow: hidden
    color: white

.index_page
    width: 100vw
    overflow-x: hidden
    height: 100vh
    display: flex
    overflow-y: hidden

.index_page_menu
    flex: 1
    height: 100vh
    background-color: #1B1F34
    display: flex
    align-items: center

.index_page_body
    flex: 6

.index_page_body_data
    width: 95%
    min-height: 100%
    overflow-y: scroll
    margin: 0 auto
    position: relative
    top: 5%

.index_page_menu_block
    width: 100%

.index_page_menu_block_line
    padding: 15px 25px
    width: calc(100% - 50px)
    color: #596A9A
    font-size: 18px
    cursor: pointer

    span
        margin-left: 10px

    i
        color: #2FAAF5

.index_page_menu_block_line.selected
    border-left: 2px solid #2FA1E8
    background-color: #161826
    color: #15A9F5

.index_page_menu_block_line:hover
    border-left: 2px solid #2FA1E8
    background-color: #161826

.index_page_body_header
    width: 100%
    background-color: #1F2539
    height: 120px
    position: relative

.index_page_body_data::-webkit-scrollbar-thumb
    background-color: darkgrey

.index_page_body_data::-webkit-scrollbar-track
    background-color: black

.index_page_body_data::-webkit-scrollbar
    width: 0

.index_page_body_header_user
    width: 95%
    height: 60%
    display: flex
    justify-content: space-between
    align-items: center

.index_page_body_header_info
    width: 95%
    height: 40%
    display: flex
    align-items: center
    margin: 0 auto
    text-transform: uppercase

.index_page_body_header_user_avatar
    display: flex
    align-items: center

.index_page_body_header_user_avatar_img
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: #A4B1E0
    margin-right: 20px

.index_page_body_header_user_avatar_name
    
    p
        padding: 0
        margin: 0
        color: #3F496A

    span
        font-size: 20px
        color: #32B8FF

.preloader
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: #161826
    z-index: 1000000000000000

.settingBlock
    width: calc(100% - 40px)
    background-color: #182037
    border-radius: 3px
    padding: 20px

    p
        font-weight: bold
        color: #9BAAD9
        font-size: 20px
        padding: 0
        margin: 0

.settingBlock_header_line
    width: 100%
    margin-top: 20px
    color: #3A4569
    display: flex
    text-align: left

    span
        flex: 1

.settingBlock_body_line
    width: calc(100% - 20px)
    margin: 20px 0
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    padding: 0 10px
    border-radius: 8px
    text-align: left

    span
        flex: 1
        color: #8592C6
        display: flex
        align-items: center

.settingBlock_block
    padding: 10px 20px
    color: white !important
    border-radius: 15px

.settingBlock_wait
    background-color: #FB62D6


.chat_block
    width: 100%
    display: flex

.chat_block_chat 
    flex: 3
    margin-right: 20px
    height: calc(100vh - 200px)
    background-color: #182037
    position: relative
    
.chat_block_chat_header
    width: calc(100% - 80px)
    height: 100px
    padding: 0 40px
    border-bottom: 1px solid #252E4A
    display: flex
    align-items: center
    border-radius: 5px

    span
        font-weight: bold
        color: #8592C6
        font-size: 20px


.chat_block_info
    flex: 1
    height: 300px
    background-color: #182037
    border-radius: 5px

.settingBlock_accept_color
    background-color: #10C760

.index_page_menu.selected
    margin-left: 0

.buttons_menu
    z-index: 10000000000
    position: absolute
    top: 20px
    left: 20px
    display: none
    transition: all .2s

    span
        display: block
        width: 35px 
        height: 3px
        background-color: #596A9A
        margin: 9px 0

.buttons_menu.selected
    top: 25px

    span:nth-child(2)
        display: none

    span:nth-child(1)
        position: relative
        transform: rotateZ(45deg)
        top: 5.5px
    span:nth-child(3)
        position: relative
        transform: rotateZ(315deg)
        top: -5.5px

.settingBlock_body_line
    span:nth-child(4)
        span
            flex: none

.settingBlock_body_line:hover
    background-color: #2E3756
   

.info_active_block
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

.info_active_block_left,
.info_active_block_right
    width: 47%
    background-color: #182037
    border-radius: 3px
    padding: 20px




















@media (max-width: 500px)

    .buttons_menu
        display: block

    .index_page_menu
        position: fixed
        z-index: 100000
        width: 100vw
        margin-left: -100%
        transition: all .2s

    .index_page_body_header_user
        width: 90%

    .index_page_body_header_info
        justify-content: center

    .settingBlock_body_line
        span
            white-space: nowrap

        span:nth-child(1),
        span:nth-child(2)
            display: none

        span:nth-child(4)
            span
                display: flex
                justify-content: center

    .settingBlock_header_line
        span:nth-child(1),
        span:nth-child(2)
            display: none

    .settingBlock_block
        padding: 8px 12px
        font-size: 12px