html, body
    padding: 0
    margin: 0
    background-color: #0E1122
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    overflow: hidden
    color: white

.index_page
    width: 100vw
    overflow-x: hidden
    height: 100vh
    display: flex
    overflow-y: hidden

.index_page_menu
    flex: 1.2
    height: 100vh
    background-color: #131931
    display: flex

.index_page_body
    flex: 6

.index_page_body_data
    width: 95%
    height: calc(100vh - 180px)
    overflow-y: scroll
    margin: 0 auto
    position: relative
    top: 30px

.index_page_menu_block
    width: 100%

.index_page_menu_block_line
    position: relative
    padding: 15px 25px
    width: calc(100% - 50px)
    color: #596A9A
    font-size: 18px
    cursor: pointer

    span
        margin-left: 10px

    i
        color: #2FAAF5

.index_page_menu_block_line.alerts::before

.index_page_menu_block_line::before
    width: 25px
    height: 25px
    font-size: 13px
    border-radius: 50%
    background-color: #2FA1E8
    position: absolute
    right: 20px
    top: 13px
    color: white
    content: "1"
    display: -webkit-box
    display: -ms-flexbox
    display: none
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

.index_page_menu_block_line.selected
    border-left: 2px solid #2FA1E8
    background-color: #0E1122
    color: #15A9F5

.index_page_menu_block_line:hover
    border-left: 2px solid #2FA1E8
    background-color: #0E1122

.index_page_body_header
    width: 100%
    background-color: #182037
    height: 120px
    position: relative

.index_page_body_data::-webkit-scrollbar-thumb
    background-color: darkgrey

.index_page_body_data::-webkit-scrollbar-track
    background-color: black

.index_page_body_data::-webkit-scrollbar
    width: 0

.index_page_body_header_user
    width: 95%
    height: 60%
    display: flex
    justify-content: space-between
    align-items: center

.index_page_body_header_info
    width: 95%
    height: 40%
    display: flex
    align-items: center
    margin: 0 auto
    text-transform: uppercase
    font-weight: bold

.index_page_body_header_user_avatar
    display: flex
    align-items: center

.index_page_body_header_user_avatar_img
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: #A4B1E0
    margin-right: 20px

.index_page_body_header_user_avatar_name
    
    p
        padding: 0
        margin: 0
        color: #3F496A

    span
        font-size: 20px
        color: #32B8FF

.preloader
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: #0E1122
    z-index: 1000000000000000

.settingBlock
    width: calc(100% - 40px)
    background-color: #182037
    border-radius: 3px
    padding: 20px

    p
        font-weight: bold
        color: #9BAAD9
        font-size: 20px
        padding: 0
        margin: 0

.settingBlock_header_line
    width: 100%
    margin-top: 20px
    color: #3A4569
    display: flex
    text-align: left

    span
        flex: 1

.settingBlock_body_line
    width: calc(100% - 20px)
    margin: 20px 0
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    padding: 0 10px
    border-radius: 8px
    text-align: left

    span
        flex: 1
        color: #8592C6
        display: flex
        align-items: center

.settingBlock_block
    padding: 10px 55px
    color: white !important
    border-radius: 3px

.settingBlock_wait
    background-color: #FB62D6


.chat_block
    width: 100%
    display: flex

.chat_block_chat 
    flex: 3
    margin-right: 20px
    height: calc(100vh - 200px)
    background-color: #182037
    position: relative
    
.chat_block_chat_header
    width: calc(100% - 80px)
    height: 100px
    padding: 0 40px
    border-bottom: 1px solid #252E4A
    display: flex
    align-items: center
    border-radius: 5px

    span
        font-weight: bold
        color: #8592C6
        font-size: 25px

.chat_block_chat_body
    width: 100%
    height: calc(100% - 100px)
    display: flex
    justify-content: center
    align-items: center

.chat_block_chat_body_row
    width: 90%
    height: 90%

.chat_block_info
    flex: 1
    height: 300px
    background-color: #182037
    border-radius: 5px

.settingBlock_accept_color
    background-color: #10C760

.index_page_menu.selected
    margin-left: 0

.buttons_menu
    z-index: 10000000000
    position: absolute
    top: 20px
    left: 20px
    display: none
    transition: all .2s

    span
        display: block
        width: 35px 
        height: 3px
        background-color: #596A9A
        margin: 9px 0

.buttons_menu.selected
    top: 25px

    span:nth-child(2)
        display: none

    span:nth-child(1)
        position: relative
        transform: rotateZ(45deg)
        top: 5.5px
    span:nth-child(3)
        position: relative
        transform: rotateZ(315deg)
        top: -5.5px

.settingBlock_body_line
    span:nth-child(4)
        span
            flex: none

.settingBlock_body_line:hover
    background-color: #2E3756
   

.info_active_block
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 20px

.info_active_block_left,
.info_active_block_right
    width: 47%
    background-color: #182037
    border-radius: 3px
    padding: 20px

.info_active_block_photo
    width: 150px
    height: 150px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    background-color: #A4B1E0
    margin: 0 auto
    margin-top: 50px


.info_active_block_right
    text-align: center

    span
        font-size: 30px
        color: #32B8FF
        margin: 10px 0
        display: block

    p
        padding: 0
        margin: 0
        color: #3F496A
        margin-bottom: 40px


.info_active_block_massage_button
    padding: 1px 20px
    border-radius: 3px
    background-color: transparent
    width: -webkit-fit-content
    width: -moz-fit-content
    width: fit-content
    margin: 0 auto
    margin-bottom: 20px
    cursor: pointer
    border: 1px solid #0D9D3F

    span
        font-size: 15px
        color: #0D9D3F

.info_active_block_left_header
    font-weight: bold
    color: #9BAAD9
    font-size: 20px
    padding: 0
    margin: 0


.info_active_block_left_buttons
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 50px

    span
        padding: 7px 20px
        border-radius: 3px
        margin-right: 20px
        margin-bottom: 10px
        margin-top: 10px
        cursor: pointer
        display: flex
        width: calc(50% - 60px)
        justify-content: center

.accept_block
    background: rgb(19,170,249)
    background: linear-gradient(90deg, rgba(19,170,249,1) 0%, rgba(20,132,253,1) 61%)

.remove_block
    background: rgb(249,70,70)
    background: linear-gradient(90deg, rgba(249,70,70,1) 0%, rgba(213,45,45,1) 61%)

.show_block
    background: rgb(140,128,254)
    background: linear-gradient(90deg, rgba(140,128,254,1) 0%, rgba(89,75,211,1) 61%)


.chat_block_chat_body_row
    position: relative

.chat_block_chat_body_row_input
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    display: flex

    input
        border: 0
        width: calc(100% - 20px)
        padding: 20px
        background-color: #0E1122
        color: white

    span
        padding: 20px 40px
        cursor: pointer
        background: rgb(19,170,249)
        background: linear-gradient(90deg, rgba(19,170,249,1) 0%, rgba(20,132,253,1) 61%)
        

.chat_block_info
    text-align: center

    span
        ont-size: 30px
        color: #32B8FF
        margin: 10px 0
        display: block

    p
        padding: 0
        margin: 0
        color: #3F496A
        margin-bottom: 40px


.info_active_block_left_info
    margin: 20px 0
    color: #8999CF
    font-size: 18px
    display: flex

.info_active_block_left_info_line
    margin-bottom: 7px
    flex: 1

    span
        color: #40486c

    a
        color: #9BAAD9
        font-size: 20px
        width: 100%
        display: block
        margin-top: 20px


.discret
    width: calc(33% - 20px)
    height: 350px
    background-color: #182037
    border-radius: 3px
    position: relative
    float: left
    margin: 0 12.5px

    canvas
        width: 43%

    .container
        top: 15px

#validate-bar__parcent-bar
    font-weight: 100
    font-size: 40px
    color: #8394C9

#validate-bar__parcent-bar::after
    color: #8394C9
    bottom: 0
    font-size: 28px


#validate-bar__parcent-bar2
    font-weight: 100
    font-size: 40px
    color: #8394C9

#validate-bar__parcent-bar2::after
    color: #8394C9
    bottom: 0
    font-size: 28px

#validate-bar__parcent-bar3
    font-weight: 100
    font-size: 40px
    color: #8394C9

#validate-bar__parcent-bar3::after
    color: #8394C9
    bottom: 0
    font-size: 28px

.discret_header
    position: absolute
    top: 20px
    left: 20px
    font-weight: bold
    color: #9BAAD9
    font-size: 20px

.signature_canvas
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

    canvas
        position: relative
        width: auto
        background-color: white
        transform: none

.signature_canvas_span
    display: flex
    width: calc(100% - 40px)
    height: 80px
    align-items: center
    padding: 0 20px
    font-size: 22px
    background-color: #182037


.signature
    .index_page_menu
        display: none

    .index_page_body_header_info
        display: none

    .index_page_body_header
        height: 80px

    .index_page_body_header_user
        height: 100%

    .index_page_buttons
        display: flex
        justify-content: space-between

        span
            padding: 7px 20px
            margin-bottom: 10px
            margin-top: 10px
            cursor: pointer

        .clean
            background: linear-gradient(90deg, #f94646 0%, #d52d2d 61%)

        .put
            background: linear-gradient(90deg, #8c80fe 0%, #594bd3 61%)

        .accept_signature
            background: linear-gradient(90deg, #13aaf9 0%, #1484fd 61%)


.accepting
    .remove_block
        display: none
    .accept_block
        display: none




.chat_block_chat_body_msgs
    height: calc(100% - 80px)
    overflow-y: scroll

.chat_block_chat_body_msgs::-webkit-scrollbar-thumb
    background-color: darkgrey

.chat_block_chat_body_msgs::-webkit-scrollbar-track
    background-color: black

.chat_block_chat_body_msgs::-webkit-scrollbar
    width: 0

.chat_block_chat_body_msgs_line
    width: 100%
    height: fit-content
    margin-top: 20px
    display: flex
    justify-content: end

.chat_block_chat_body_msgs_line_my
    width: fit-content
    padding: 20px 40px
    border-radius: 3px
    background-color: #3E4C71


.msg_block_getting
    width: 100%
    display: flex
    flex-wrap: wrap

.msg_block_getting_line
    width: calc(50% - 60px)
    padding: 20px
    display: flex
    margin-right: 20px
    background-color: #182037
    cursor: pointer

.msg_block_getting_line_img
    width: 60px
    height: 60px
    background-color: #A4B1E0
    border-radius: 50%

.msg_block_getting_line_text
    margin-left: 20px

    p
        padding: 0
        margin: 0
        margin-top: 10px
        color: #3F4B6F

    span
        color: #8091C4
        font-weight: 600
        font-size: 18px



.headerPaysBlock
    width: calc(100% - 40px)
    background-color: #182037
    border-radius: 3px
    padding: 20px
    margin-bottom: 20px

.headerPaysBlock_header_span
    font-weight: bold
    color: #9BAAD9
    font-size: 20px
    padding: 0
    margin: 0

.headerPaysBlock_header_line
    width: 100%
    margin-top: 20px
    color: #3A4569
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    text-align: left

    span
        flex: 1

.headerPaysBlock_body_line
    width: calc(100% - 20px)
    margin: 20px 0
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    padding: 0 10px
    border-radius: 8px
    text-align: left

    span
        flex: 1

.headerPaysBlock_button
    span
        padding: 10px 20px
        border-radius: 20px
        display: block
        width: fit-content
        cursor: pointer
        background: linear-gradient(90deg, rgba(140,128,254,1) 0%, rgba(89,75,211,1) 61%)


.show_document
    background: rgb(252,101,216)
    background: linear-gradient(90deg, rgba(252,101,216,1) 0%, rgba(216,43,173,1) 61%)


.headerPaysBlock_body_line_inv
    span
        display: block
        padding: 10px 20px
        border-radius: 3px
        margin-bottom: 20px
        background-image: radial-gradient(circle at 100% 100%, transparent 19px, #13a9f6 19px, #13a9f6 20px, transparent 20px), linear-gradient(to right, #13a9f6, #165096), radial-gradient(circle at 0% 100%, transparent 19px, #165096 19px, #165096 20px, transparent 20px), linear-gradient(to bottom, #165096, #164e93), radial-gradient(circle at 0% 0%, transparent 19px, #164e93 19px, #164e93 20px, transparent 20px), linear-gradient(to left, #164e93, #14a6f5), radial-gradient(circle at 100% 0%, transparent 19px, #14a6f5 19px, #14a6f5 20px, transparent 20px), linear-gradient(to top, #14a6f5, #13a9f6)


.creating_page_block
    width: 100%

.creating_page
    width: 40%
    margin: 0 auto

.creating_page_start
    padding: 20px 50px 20px 30px
    background-color: #3E4C71
    border-radius: 8px
    width: fit-content
    font-size: 17px
    line-height: 1.7
    transition: all .5s

.creating_page_start_user_block
    padding: 20px 50px
    background-color: #252C46
    border-radius: 8px
    width: fit-content
    font-size: 17px
    line-height: 1.7
    transition: all .5s
    color: #8395C4

.creating_page_input
    width: 60%
    background-color: #182037
    border-radius: 8px
    margin: 0 auto
    padding: 10px
    margin-top: 20px

    input
        width: calc(100% - 20px)
        margin: 0 auto
        border: 0
        background-color: #0E1122
        height: 40px
        border-radius: 8px
        color: white
        padding: 0 10px


.creating_page_input_button
    display: flex
    justify-content: flex-end
    
    span
        background-image: radial-gradient(circle at 100% 100%, transparent 19px, #13a9f6 19px, #13a9f6 20px, transparent 20px), linear-gradient(to right, #13a9f6, #165096), radial-gradient(circle at 0% 100%, transparent 19px, #165096 19px, #165096 20px, transparent 20px), linear-gradient(to bottom, #165096, #164e93), radial-gradient(circle at 0% 0%, transparent 19px, #164e93 19px, #164e93 20px, transparent 20px), linear-gradient(to left, #164e93, #14a6f5), radial-gradient(circle at 100% 0%, transparent 19px, #14a6f5 19px, #14a6f5 20px, transparent 20px), linear-gradient(to top, #14a6f5, #13a9f6)
        padding: 10px 20px
        margin-top: 10px
        border-radius: 8px
        cursor: pointer


.creating_page_start_user
    margin-top: 20px
    width: 100%
    display: flex
    justify-content: flex-end

.add_project_button
    background: rgb(20,182,255)
    background: linear-gradient(90deg, rgba(20,182,255,1) 0%, rgba(19,135,255,1) 61%)
    padding: 10px 20px
    border-radius: 3px
    margin-right: 60px
    cursor: pointer

.chat_block_chat_body_msgs_line_left
    justify-content: start


.index_page_menu_block_logo
    width: 100%
    display: flex
    justify-content: center
    margin-top: 150px
    margin-bottom: 20px

    span
        background: #14b6ff
        background: -webkit-gradient(linear, left top, right top, from(#14b6ff), color-stop(61%, #1387ff))
        background: linear-gradient( 90deg, #14b6ff 0%, #1387ff 61%)
        padding: 10px 40px
        border-radius: 3px
        cursor: pointer
        display: flex
        justify-content: center

















@media (max-width: 500px)

    .buttons_menu
        display: block

    .index_page_menu
        position: fixed
        z-index: 100000
        width: 100vw
        margin-left: -100%
        transition: all .2s

    .index_page_body_header_user
        width: 90%

    .index_page_body_header_info
        justify-content: center

    .settingBlock_body_line
        span
            white-space: nowrap

        span:nth-child(1),
        span:nth-child(2)
            display: none

        span:nth-child(4)
            span
                display: flex
                justify-content: center

    .settingBlock_header_line
        span:nth-child(1),
        span:nth-child(2)
            display: none

    .settingBlock_block
        padding: 8px 12px
        font-size: 12px

    .info_active_block
        display: block

    .info_active_block_left,
    .info_active_block_right
        margin-bottom: 20px
        width: calc(100% - 40px)


.info_block_project
    width: 100%
    height: 60px
    background-color: #182037
    display: flex
    justify-content: space-around
    align-items: center
    margin-bottom: 20px
    font-size: 23px