.cover_block
    width: 1080px
    height: 1190px

#name
    font-size: 52px
    margin-top: 22px

#target
    font-size: 38px

.cover_block_centr_inter_first,
.cover_block_centr_inter_second
    background: none

.cover_block_centr
    background-image: url('../img/body_gradient.png')
    background-size: cover
    height: 200px
    align-items: center
    padding: 0 15px
    width: calc(100% - 30px)

.cover_block_centr_inter
    position: relative
    top: -18px
    width: 38%

    span
        font-size: 25px

    p
        font-size: 52px