.cover_block
    width: 1080px
    height: 1190px

#name
    font-size: 52px
    margin-top: 22px

#target
    font-size: 38px

.cover_block_centr_inter_first,
.cover_block_centr_inter_second
    background: none

.cover_block_centr
    background-image: url('../img/body_gradient.png')
    ackground-size: cover
