html, body
    padding: 0
    margin: 0

.index_page
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.index_page_block
    position: relative
    width: 1280px
    height: 720px

    img
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0

.index_page_block_body
    position: absolute
    width: 100%
    height: 324px
    display: flex
    align-items: center
    font-family: 'Circe ExtraBold'

    h1
        font-size: 100px
        width: 38%
        display: block
        margin-left: 57px
        position: relative
        top: -20px
        line-height: 0.8

.index_page_block_target
    position: absolute
    width: 100%
    top: 324px
    font-family: 'Circe'

    span
        font-size: 46px
        position: relative
        left: 40px
        top: 16px

.index_page_blockMoneys
    position: absolute
    top: 450px
    width: 100%

.index_page_blockMoneys_line_first
    width: 90%
    display: flex
    justify-content: space-around
    margin: 0 auto
    font-size: 25px
    font-family: 'Circe'

.index_page_blockMoneys_line_second
    width: 90%
    display: flex
    font-size: 68px
    margin: 0 auto
    text-align: center
    font-family: 'Circe ExtraBold'
    color: white
    position: relative
    top: -10px

    span
        flex: 1