html, body
    padding: 0
    margin: 0

.index_page
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.index_page_block
    position: relative
    width: 1280px
    height: 720px

    img
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0