
// default values

.version2_default_bkg
    backdrop-filter: blur(50px)
    background-color: rgba(255,255,255, .15)
    border: .5px solid #fff
    opacity: 0.8
    border-radius: 8px
    
    
    
    
    
    
// body data

.version2_creating
    margin: 0 auto
    width: fit-content
    
.version2_creating_block_info
    width: 630px
    position: relative

    h1
        font-weight: 700
        font-size: 16px
        text-align: center
        font-style: normal
        margin-top: 22px
        font-family: 'Circe'

    