html, body
    padding: 0
    margin: 0
    background-color: #191D30

.index_page
    width: 100%
    overflow: hidden
    display: flex
    justify-content: center
    flex-wrap: wrap

.index_page_block
    width: 100%

.index_page_block_video
    width: 100%

    video
        width: 100%

.index_page_block_info
    margin-top: 20px
    color: white