.index_page_body_moderation_block {
  width: 25%;
  background-color: #182037;
  padding: 35px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.index_page_body_moderation_block h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #32B8FF;
  margin: 10px 0;
  display: block;
}

.index_page_body_moderation_block p {
  padding: 0;
  margin: 0;
  color: #3F496A;
  margin-bottom: 25px;
  text-align: center;
}

.index_page_body_moderation_block:hover {
  top: -4px;
}

.index_page_body_moderation_block_info_line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 25px;
}

.index_page_body_moderation_block_info_line span,
.index_page_body_moderation_block_info_line a {
  padding: 7px 16px;
  border-radius: 3px;
  font-size: 13px;
}

.index_page_body_moderation_block_info_line span {
  background: -webkit-gradient(linear, left top, right top, from(#8c80fe), color-stop(61%, #594bd3));
  background: linear-gradient(90deg, #8c80fe 0%, #594bd3 61%);
}

.index_page_body_moderation_block_info_line a {
  background: -webkit-gradient(linear, left top, right top, from(#fc65d8), color-stop(61%, #d82bad));
  background: linear-gradient(90deg, #fc65d8 0%, #d82bad 61%);
}

.index_page_body_info_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.index_page_body_info_line p {
  margin-bottom: 0;
}

.index_page_body_hrefs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.index_page_body_hrefs a {
  border-radius: 8px;
  color: white;
  width: 60px;
  border: 1px solid;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.moderation_item_block {
  padding-top: 30px;
}

.global_block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.global_block_header_info h1 {
  font-size: 40px;
  font-weight: 400;
  color: #32B8FF;
  margin-bottom: 10px;
}

.global_block_header_info p {
  padding: 0;
  margin: 0;
  color: #3F496A;
  margin-bottom: 25px;
}

.global_block_header_accept_button {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid;
}

.global_block_header_accept_button i {
  margin-left: 10px;
}

.global_block {
  width: 80%;
  margin: 0 auto;
}

.global_block_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #2B3552;
}
/*# sourceMappingURL=index.css.map */