.index_page_body_moderation_block
    width: 25%
    background-color: #182037
    padding: 25px

    h1
        text-align: center
        font-size: 30px
        font-weight: 400
        color: #32B8FF
        margin: 10px 0
        display: block

    p
        padding: 0
        margin: 0
        color: #3F496A
        margin-bottom: 25px
        text-align: center

.index_page_body_moderation_block_info_line
    width: 100%
    display: flex
    justify-content: space-around
    margin-bottom: 25px

    span,
    a
        padding: 7px 16px
        border-radius: 3px
        border: 1px solid
        font-size: 13px

.index_page_body_info_line
    display: flex
    width: 100%
    justify-content: space-between
    padding: 15px 0

    p
        margin-bottom: 0

.index_page_body_hrefs
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center

    a
        display: block
        padding: 10px
        border-radius: 8px